body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    padding: 0;

    background-color: rgba(0, 0, 0, 0)
}

.card {
    background-color: white;
}

.dashboard-container {
    display: grid;
    grid-template: 1fr 5fr / 2fr 7fr;
}

.header {
    grid-column: 2;

    padding: 0 40px;

    display: grid;
    grid-template: 1fr 1fr / 6fr 1fr 2fr;
    align-items: center;
}

.header-search-wrapper {
    margin-right: 30px;

    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 15px;
}

.header-user {
    grid-column: 3;

    display: grid;
    grid-template-columns: 20px 40px 1fr;
    align-items: center;
    gap: 25px;
}

.user-name {
    justify-self: center;
}

.header-welcome {
    display: grid;
    grid-template: 2fr 3fr / 60px 1fr;
    gap: 15px;
}

.welcome-user-icon {
    grid-row: 1 / -1;
}

.header-actions {
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.header-actions button {
    background-color: rgb(62, 109, 202);
    height: 30px;
}

.sidebar {
    grid-row: 1 / -1;

    padding: 0 10px;
    background-color: rgb(62, 109, 202);

    display: grid;
    grid-template-rows: 1fr 5fr 3fr 3fr;
}

.nav-group,
.nav-group-settings {
    margin: 20px 0;

    display: grid;
    gap: 10px;
}

.nav-group {
    grid-template-rows: repeat(6, 1fr);
}

.nav-group-settings {
    grid-template-rows: repeat(3, 1fr);
}

.branding,
.nav-button {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    text-align: left;
}

.sidebar h1,
.sidebar span {
    color: white;
}

.sidebar img {
    filter: invert(100%);
}

.sidebar img {
    justify-self: center;
}

.main-content {
    padding: 15px 40px 50px 0;

    background-color: rgb(221, 229, 244);

    display: grid;
    grid-template: 1fr 1fr / 5fr 2fr;
}

.projects {
    grid-row: 1 / -1;

    padding: 0 18px;

    display: grid;
    grid-template: 30px repeat(3, 1fr) / repeat(2, 1fr);
    gap: 18px;
}

.projects-header {
    grid-column: 1 / -1;
    align-self: center;
}

.projects-card {
    display: grid;
    grid-template: 4fr 1fr / 6fr 2fr 2fr;
    gap: 10px;
}

.project-text {
    grid-column: 1 / 3;
}

.project-actions {
    grid-row: 2;
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: repeat(3, 20px);
    align-items: center;
    gap: 10px;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: 30px 1fr;

    gap: 18px;
}

.announcements-content,
.trending-content {
    margin: 0 15px;
}

.trending {
    margin-top: 30px;
}

.announcements-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending-content {
    height: 100%;

    display: grid;
    grid-template-rows: repeat(4, 1fr);

    align-items: center;
}

.announcements-header,
.trending-header {
    align-self: center;
}

.trending-profile {
    display: grid;
    grid-template: 2fr 3fr / 40px 1fr;
}

.trending-profile>img {
    grid-row: 1 / -1;
}